appdirs==1.4.4
application-utility==1.3.2
Babel==2.9.1
Brlapi==0.8.3
btrfsutil==5.15.1
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
Cheetah3==3.2.6.post2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
defusedxml==0.7.1
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
extras==1.0.0
fixtures==3.0.0
future==0.18.2
html5lib==1.1
httpie==2.6.0
idna==3.3
importlib-metadata==4.8.1
isc==2.0
keyutils==0.6
lensfun==0.3.95
libfdt==1.6.1
louis==3.20.0
Markdown==3.3.6
more-itertools==8.10.0
msgpack==1.0.3
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.21.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.23.2
pbr==5.8.0
pep517==0.12.0
Pillow==8.4.0
ply==3.11
progress==1.6
psutil==5.8.0
psycopg2==2.9.3
pwquality==1.4.4
pycairo==1.20.1
pycparser==2.21
pyelftools==0.27
Pygments==2.10.0
PyGObject==3.42.0
pymongo==3.12.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
pyserial==3.5
PySocks==1.7.1
pytz==2021.3
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
regex==2021.11.10
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
SCons==4.3.0
six==1.16.0
smbus==1.1
TBB==0.2
team==1.0
testtools==2.5.0
toml==0.10.2
tomli==1.2.2
udiskie==2.4.0
urllib3==1.26.7
webencodings==0.5.1
youtube-dl==2021.12.17
zipp==3.6.0
