{% extends 'base.html' %}

{% block content %}
<div>
<h1 class="display-3 mb-3 w-100">Register</h1>

<form class="d-flex flex-column" action="/register" method="POST">

    <div class="mb-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-2">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="form-text">we'll never share your email with anyone else</div>
    </div>

    <button class="btn btn-outline-dark font-monospace" type="submit">register</button>

</form>
</div>
{% endblock %}
